/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general */
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #a5abb1;
}
a:hover {
  color: black;
}

/* NAV */

nav {
  padding-top: 15px;
  display: flex;
  width: 70%;
  margin: auto;
}

/* left menu nav */
#menu_left {
  display: flex;
  height: 50px;
  width: 40%;
}
#menu_left img {
  height: 30px;
  margin-right: 20px;
}
#menu_left ul {
  display: flex;
}
#menu_left ul li {
  list-style: none;
  padding: 0 15px;
  line-height: 30px;
}
#menu_left ul li a {
  text-transform: uppercase;
}
#menu_left ul li:first-child a{
color: black;
}

/* right menu nav */
#menu_right {
  height: 30px;
  display: flex;
  align-items: center;
  width: 60%;
}
.link_wrapper {
  display: flex;
  height: 30px;
  width: 70%;
}
.link_wrapper > .wrapper > a{
  line-height: 30px;
  padding: 0 10px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  /* background-color: yellow; */
}
.wrapper a {
  text-transform: capitalize;
}

/* drop down menu palette */
.wrapper_dropdown {
  display: flex;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 5px;
   box-shadow: 0px 0px 10px 1px #888888;
}
.wrapper_dropdown ul {
  padding: 10px 0;
}
.wrapper_dropdown ul li {
  list-style: none;
  padding: 0 15px;
}
.dropdown_palette {
  display: none;
  margin-top: 10px
}
.new {
  color: #eb008d;
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
  vertical-align: top;
}

/* button app download */
button {
  color: white;
  border: 0;
  background-color: #eb008d;
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 15px;
}

/* lang select */
select {
  color: #a5abb1;
  border: 0;
  background-color: #fff;
}
