* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  padding-top: 15px;
  display: flex;
  width: 60%;
  margin: auto;
}
#menu_left {
  display: flex;
  height: 50px;
  width: 30%;
}
#menu_left img {
  height: 30px;
  margin-right: 20px;
}
#menu_left ul {
  display: flex;
}
#menu_left ul li {
  list-style: none;
  padding: 0 15px;
  line-height: 30px;
}
#menu_left ul li a {
  text-transform: uppercase;
}
#menu_right {
  height: 30px;
  display: flex;
  align-items: center;
  width: 70%;
}
.link_wrapper {
  display: flex;
  height: 30px;
  width: 70%;
}
.link_wrapper > .wrapper > a{
  line-height: 30px;
  padding: 0 10px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  /* background-color: yellow; */
}
.wrapper a {
  text-transform: capitalize;
}
.wrapper_dropdown {
  display: flex;
  padding: 0 10px;
  background-color: #ececec;
  border-radius: 5px;
}
.wrapper_dropdown ul {
  padding: 10px 0;
}
.wrapper_dropdown ul li {
  list-style: none;
  padding: 0 15px;
}
.dropdown_palette {
  display: none;
  margin-top: 10px
}
button {
  border: 0;
  background-color: violet;
  padding: 5px 15px;
  margin-left: 10px;
  border-radius: 10px;
}
select {
  border: 0;
}
