* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 50px;
  display: flex;
  width: 70%;
  margin: auto;
}
#left_menu {
  display: flex;
  align-items: center;
  width: 40%;
}
#right_menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  margin-top: 15px;
}
#menu_logo {
  height: 50px;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
#left_menu ul li {
  padding: 0 10px
}
#right_menu ul{
  display: flex;
  align-items: flex-start;
  width: 70%;
}
#right_menu ul li {
  width: 20%;
  text-align: center;
}
.palette {
  display: none;
}







.main_wrapper{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  text-align: center;
}
.wrapper {
  flex-direction: column;
  width: 5%;
  overflow: visible;

}

.wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
.palette_wrapper {
  display: none;
}
